.attribution {
      font-size: 11px;
      text-align: center;
    }
.attribution a {
      color: hsl(228, 45%, 44%);
    }
.menubar-section{
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: solid 2px #fff;
    padding-top: 2px;
    width: 20px;
    padding-bottom: 2px;
}

.menubar-mobile{
    background: none;
    border: none;
    width: 30%;
    align-self: flex-end;
}

.menubar{
    display: none;
}

.clicked {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -6px;
    left: -5px;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding-left: 0;
    box-shadow: 2px 11px 26px rgb(0 0 0 / 20%);
    padding-top: 15px;
    padding-bottom: 15px;
    }

nav{
    display: grid;
    grid-template-columns: 50% 1fr;
    height: 30px;
    margin: 20px 0 20px 20px;
}

li{
    list-style: none;
    display:inline-block;
    margin: auto 20px;
}

p{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

nav li a{
    text-decoration: none;
    color: rgb(146, 145, 145);
    font-size: 18px;
    font-family: 'Fraunces', serif;
    font-weight: 400;
    line-height: 45px;
    
}

nav ul li a:hover,nav ul li a:active{
    display: block;
    color:hsl(212, 27%, 19%);
    z-index: 2;
    font-family: 'Fraunces', serif;
  background-color: #fceb03;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    
}

nav .theme{
    height: 100%;
}

.theme{
    align-self: center;
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    font-weight: 600;
    color: white;
    
}
h1{
    color: white;
    font-family: 'Fraunces', serif;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 6px;
    text-transform:uppercase;
    margin-bottom: 40px;
}
header{
    background: url(images/desktop/image-header.jpg) no-repeat;
    background-size: 100%;
    height: 217px;


}
body{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: auto;
    word-spacing: 1px;
}

nav ul{
    text-align: right;
}

main{
    display:flex;
    flex-direction: column;
}

.articles,.skills{
    /* display:grid; */
    grid-template-columns: 1fr 1fr;
}
.articles{
    background-color: white;
}
.bottompics{
    display: flex;
    max-width: 1440px;
    height: 100%;

}

footer{
    /* height: 300px; */
    background-color: hsl(168, 39%, 60%);
    /* width: 1438px; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 195px 195px 300px;
    grid-template-areas: 
    "cell-1 cell-2"
    "cell-3 cell-4"
    "cell-footer cell-footer";
    /* justify-content: center;
    display: flex;
    flex-direction: column; */
    
}
section{
    width: 1440px;
}

.text h2{
    font-family: 'Fraunces', serif;
    font-size: 1.7em;
    margin-left: 20px;
    margin-right: 20px;
}

.text p{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    
}
.text{    
    
    margin: 25px;

    color: hsl(212, 27%, 19%);
    text-align: center;
}

.text a{
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-size: 15px;
    
}

.hoverEffect{
    border-bottom: 3px solid hsl(51, 100%, 49%);
  }

  .hoverEffect2{
    border-bottom: 3px solid hsl(7, 99%, 70%);
  }

  .hoverEffect:hover::after,
  .hoverEffect:focus::after,
  .hoverEffect2:hover::after,
  .hoverEffect2:focus::after{
    opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

h3{
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 0px;
}
.graphicDesign{
    background: url(images/desktop/image-graphic-design.jpg) no-repeat;
    background-size: 100%;
}
.photography{
    background: url(images/desktop/image-photography.jpg) no-repeat;
    background-size: 100%;
}

.graphicDesign,.photography{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.graphicDesign div, .photography div{
    width: 85%;
    text-align: center;
    padding-top: 142px;
}
/* test */
.testimonials ul{
    display: flex;
    margin: 60px;
    padding: 0;
}
footer img {
    width: 100%;
}
footer .theme{
    margin-left: 35px;
    color: hsl(168, 34%, 41%);
}

footer ul li a{
    color: hsl(168, 34%, 41%);
}

.graphicDesign div{
    color:hsl(167, 40%, 24%);
}
.photography div{
    color: hsl(198, 62%, 26%);
}

.cell-7,
.cell-8,
.cell-9
{
    text-align: center;
    margin: 50px 30px;
}

.cell-header{
    grid-area: cell-header;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color: hsl(232, 10%, 55%);
    font-size: 1.2em;
    letter-spacing: 0.3em;
    text-align: center;
    margin-top: 80px;

}

.clients img{
    width: 20%;
    border-radius: 50%;
}

.clients p{
    margin-top: 50px;
    
}

.clients p,.name,.job{
    color: hsl(212, 27%, 19%);
}

.text a{
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
}

.name{
    margin-top: 80px;
    font-family: 'Fraunces', serif;
}

.job{
    font-family: 'Barlow', sans-serif;
}

footer .cell-1{
    grid-area: cell-1;
}

footer .cell-2{
    grid-area: cell-2;
}

footer .cell-3{
    grid-area: cell-3;
}

footer .cell-4{
    grid-area: cell-4;
}

.cell-footer{
    grid-area: cell-footer;
    margin-top: 46px;
}

.cell-footer .nav{
    margin-top: 30px;
}

.cell-footer .icons{
    margin-top: 70px;
}

img.icon {
    width: 80%;
}

.icons li{
    margin: auto 10px;
}

.gridimg.cell-2{
    display: none;
}

.mobileImg img,
.gridimg.cell-3 img{
    width: 100%;
}